
header nav{
    background-color:rgb(197, 176, 176);
    width: 100%;
    height: 70px;
}

    

.font-logo  {
    display:flex;
    justify-content: flex-end; 
  
   
}
.font-logo .logo{
    width: 300px;
    background-color: red;
     justify-content:space-around;
}